<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>This site was created by L. I. It uses data from mapbox.com and weatherstack api.</p>
    {{>footer}}
</body>

</html>